@font-face {
  font-family: Sahel;
  src: url('Sahel.eot');
  src: url('Saheld41d.eot?#iefix') format('embedded-opentype'),
       url('Sahel.woff2') format('woff2'),
       url('Sahel.woff') format('woff'),
       url('Sahel.ttf') format('truetype');
}

body {
	direction: rtl;
	text-align: right;
	font-family: "Sahel";
	font-size: 14px;
}

.navbar-nav {
    margin-left: initial !important;
    margin-right: auto;
}

.post-meta {
    text-align: left;
}

.pager-botton {
    float: left !important;
}

header.masthead .site-heading h1 {
    font-size: 40px;
}

.post-title {
    font-size: 28px !important;
}

.post-subtitle {
    font-size: 16px;
}